@media ( max-width: 720px){
    body{
        position: absolute;
        display: flex;
        flex-direction: column;      
    }
    header{
        padding-left: 20px;
        padding-right: 20px;
    }
    .header__logo{
        height: 20px;
    }
    .about{
        padding: 50px 20px 50px 20px;
    }
    .about__image{
        width: 280px;      
    }
   
    h1{
        font-size: 36px;
        line-height: 40px;
    }
    .about__sun-images{
        width: 75px;
        height: 75px;
        left: 60%
    }
    .footer__container{
        flex-direction: column;
    }
    .features{
        padding: 50px 10px;
    }
    .cards{
        grid-template-columns: auto;
    }
    .features__feedback{
        display: flex;
        flex-direction: column;
    }
    .features__feedback-left{
        margin-right: 0px;
    }
    .features__feedback-left h2{
        font-size: 36px;
    }
    .features__feedback-right{
        flex-direction: column;
        align-items: stretch;
    }
    .features__box h3{
        padding-bottom: 20px;
        font-size: 36px;
    }
    .features__savings-box{
        margin-right: 0px;
    }
    .features__box{
        margin-bottom: 30px;
    }
}

@media (max-width: 320px){
    .header__logo{
        height: 20px;
    }
    .about{
        flex-direction: column-reverse;
        padding: 50px 10px 50px 10px;
    }
    .about__image{
        width: 280px;
    }
    h1{
        font-size: 36px;
        line-height: 40px;
    }
    .about__sun-images{
        width: 75px;
        height: 75px;
        left: 10%;
        top: 10%;
    }
    .form{
        padding: 50px 10px 50px 10px;
    }
}

